
}
body{
  font-family:inherit;
  margin: 0;

}

.d1{
  background-image: url(/home/gesare/Documents/StudioDelani/assets/backgrounds/h_img.jpg);
  background-attachment: fixed;
  text-align: center;
  background-size: 1400px;
  color:white;
  padding-top: 210px;
  padding-bottom: 100px
  background-repeat: no-repeat;
  background-position: center;
}
.AB{
  text-align: center;
}
.ct{
  background-image: url(/home/gesare/Documents/StudioDelani/assets/backgrounds/s_image.jpg);
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size:1300px;
  background-position: center;
  background-repeat: no-repeat;

}
.container{
  text-align: center;
}
.contact{
    background-image: url(/home/gesare/Documents/StudioDelani/assets/backgrounds/c_img.jpg);
}
.col-md-3{
  padding-bottom: 20px;
}
footer{
  text-align: center;
}
#design{
  display: none;
}
