
body{
  font-family:inherit;
  margin: 0;

}

.d1{
  background-image: url(/home/gesare/Documents/StudioDelani/assets/backgrounds/h_img.jpg);
  background-attachment: fixed;
  text-align: center;
  background-size: 1400px;
  color:white;
  padding-top: 210px;
  padding-bottom: 100px
  background-repeat: no-repeat;
  background-position: center;
}
.AB{
  text-align: center;
}
.ct{
  background-image: url(/home/gesare/Documents/StudioDelani/assets/backgrounds/s_image.jpg);
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size:1300px;
  background-position: center;
  background-repeat: no-repeat;

}
.container{
  text-align: center;
}
.jumbotron{
  color: white;
      background-image: url(/home/gesare/Documents/StudioDelani/assets/backgrounds/c_image.jpg);
}
.col-md-3{
  padding-bottom: 20px;
}
#social{
  text-align: center;
}
#design{
  display: none;
}
#dev{
  display: none;
}
#pm{
  display: none;
}
input[type=text]{
  background-color: transparent;
}
.name{
  color: white;
  width: 300px;
}
.name{
  color: white;
  width: 300px;
}
.message{
  padding-bottom: 120px;
  height:150px;
  width:500px;
}
.Jimmy{
  display: none;
  background-color: white;
  color: black;
  opacity:0.5;
}
.yellow{
  display: none;
  background-color: white;
  color: black;
  opacity: 0.5;
}
.Mig{
  display: none;
  background-color: white;
  color:black;
  opacity: 0.5;
}
.BlackDark{
  display: none;
  background-color: white;
  color:black;
  opacity: 0.5;
}
.Happy{
  display: none;
  background-color: white;
  color: black;
  opacity:0.5;
}
.Settings{
  display: none;
  background-color: white;
  color: black;
  opacity:0.5;
}
.Burned{
  display: none;
  background-color: white;
  color:black;
  opacity:0.5;
}
.Giraffe{
  display: none;
  background-color: white;
  color: black;
  opacity:0.5;
}
